<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td{
          margin-left: 40%;
      }
      th{
          text-align: center;
      }.td-items {
          text-decoration: none;
          color: white;
        }
      </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <table class="table table-hover  table-dark" style="width:90%">
        <thead>
          <tr>
            <th scope="col">Andijon tumanlari</th>
            <th scope="col">Maydoni mavjud joylar</th>
            <th scope="col">Bo'sh maydoni(gektarlarda)</th>
          </tr>
        </thead>
            <tr>
                <th rowspan="2">Andijon shahri
                </th>
                <td><a class="td-items" href="treeList.html">Universitet ko‘chasi Nodirabegim bog‘i
                </a> </td>
                <td>3.5</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">3-kichik daha Yoshlar bog‘i
                </a> </td>
                <td> 4.5</td>
              </tr>
              <tr>
                <th rowspan="1">Andijon tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Baxt” MFY
                </a> </td>
                <td> 1.6</td>
              </tr>
              


              <tr>
                <th rowspan="1">Asaka tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Ne’matobod” MFY
                </a> </td>
                <td>5</td>
              </tr>

              <tr>
                <th rowspan="1">Baliqchi tumani
                </th>
                <td><a class="td-items" href="treeList.html">M. Ulug‘bek massivi “Avesto” MFY
                </a> </td>
                <td>5</td>
              </tr>
    
              <tr>
                <th rowspan="1">Bo‘ston tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Mustaqillik 15 yilligi” MFY
                </a> </td>
                <td>3.5</td>
              </tr> 
              
            
              <tr>
                <th rowspan="2">Buloqboshi tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Yuksalish” MFY Navqiron ko‘chasi
                </a> </td>
                <td>2</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“M. Ismoilov” MFY A. Navoiy ko‘chasi
                </a> </td>
                <td>2</td>
              </tr>

              <tr>
                <th rowspan="1">Jalaquduq tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Bozorboshi” MFY
                </a> </td>
                <td>0.5</td>
              </tr>
             
              <tr>
                <th rowspan="1">Izboskan tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Yuqori” MFY
                </a> </td>
                <td>4</td>
              </tr>
              <tr>
                <th rowspan="1">Marhamat tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Guliston” MFY
                </a> </td>
                <td>8.5</td>
              </tr>
              <tr>
                <th rowspan="1">Oltinko‘l tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Markaz” MFY
                </a> </td>
                <td>2.3</td>
              </tr>
              <tr>
                <th rowspan="1">Paxtaobod tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Bobur” MFY
                </a> </td>
                <td>2.2</td>
              </tr>
              <tr>
                <th rowspan="1">Ulug‘nor tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Navbahor” MFY Laylak uya ko‘chasi
                </a> </td>
                <td>1.3</td>
              </tr> <tr>
                <th rowspan="1">Shahrixon tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Shahrixon” MFY
                </a> </td>
                <td>3</td>
              </tr>
              <tr>
                <th rowspan="1">Xonobod shahri

                </th>
                <td><a class="td-items" href="treeList.html">“Istiqlol” MFY
                </a> </td>
                <td>18</td>
              </tr>
         


              

             
          
                 
        </table>
                    
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>