<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td{
          margin-left: 40%;
      }
      th{
          text-align: center;
      }.td-items {
          text-decoration: none;
          color: white;
        }
      </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <table class="table table-hover  table-dark" style="width:90%">
        <thead>
          <tr>
            <th scope="col">Buxoro tumanlari</th>
            <th scope="col">Maydoni mavjud joylar</th>
            <th scope="col">Bo'sh maydoni(gektarlarda)</th>
          </tr>
        </thead>
        <tr>
            <th rowspan="1">Shofirkon tumani
            </th>
            <td><a class="td-items" href="treeList.html">“X. Orif” MFY Shofirkon shoh ko‘chasi
            </a> </td>
            <td>3</td>
          </tr>
            <tr>
                <tr>
                    <th rowspan="1">Olot tumani
                    </th>
                    <td><a class="td-items" href="treeList.html">Ardali massivi
                    </a> </td>
                    <td>5</td>
                  </tr>
                    <tr>    
                <th rowspan="2">Qorovulbozor tuman
                </th>
                <td><a class="td-items" href="treeList.html">“Tinchlik” MFY
                </a> </td>
                <td>0.3</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Bo‘ston” MFY
                </a> </td>
                <td>0.25</td>
              </tr>
              <tr>
                <th rowspan="1">Kogon shahri
                </th>
                <td><a class="td-items" href="treeList.html">“Maxtumquli” MFY
                </a> </td>
                <td>5</td>
              </tr>
              


              <tr>
                <th rowspan="1">Qorako‘l tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Qorako‘l” MFY Do‘rmon qishlog‘i
                </a> </td>
                <td>3</td>
              </tr>

              <tr>
                <th rowspan="1">Jondor tumani
                </th>
                <td><a class="td-items" href="treeList.html">Maxoncho‘l massivi
                </a> </td>
                <td>5</td>
              </tr>
    
              <tr>
                <th rowspan="1">Buxoro shahri
                </th>
                <td><a class="td-items" href="treeList.html">“To‘qimachi” MFY Mustaqillik ko‘chasi
                </a> </td>
                <td>1.7</td>
              </tr> 
              
            
              <tr>
                <th rowspan="1">Buxoro tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Do‘stlik” MFY Zarafshon ko‘chasi
                </a> </td>
                <td>9.4</td>
              </tr>
             

              <tr>
                <th rowspan="1">Romitan tuman
                </th>
                <td><a class="td-items" href="treeList.html">“Gazli” shahri
                </a> </td>
                <td>1</td>
              </tr>
             
              <tr>
                <th rowspan="1">Vobkent tuman
                </th>
                <td><a class="td-items" href="treeList.html">“Vobkent” MFY Imom Buxoriy ko‘chasi
                </a> </td>
                <td>1</td>
              </tr>
             


              

             
          
                 
        </table>
                    
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>