<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td{
          margin-left: 40%;
      }
      th{
          text-align: center;
      }.td-items {
          text-decoration: none;
          color: white;
        }
      </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <table class="table table-hover  table-dark" style="width:90%">
        <thead>
          <tr>
            <th scope="col">Navoiy tumanlari</th>
            <th scope="col">Maydoni mavjud joylar</th>
            <th scope="col">Bo'sh maydoni(gektarlarda)</th>
          </tr>
        </thead>
        <tr>
            <th rowspan="1">Qiziltepa tumani
            </th>
            <td><a class="td-items" href="treeList.html">“G‘oyibon” MFY
            </a> </td>
            <td>1.2</td>
          </tr>
            <tr>
                <tr>
                    <th rowspan="1">Xatirchi tumani
                    </th>
                    <td><a class="td-items" href="treeList.html">“Ko‘ksaroy” MFY
                    </a> </td>
                    <td>5</td>
                  </tr>
                    <tr>    
                <th rowspan="2">Uchquduq tuman
                </th>
                <td><a class="td-items" href="treeList.html">“Do‘stlik” MFY Yoshlar bog‘i
                </a> </td>
                <td>3.8</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Do‘stlik” MFY Xotira bog‘i
                </a> </td>
                <td>2.4</td>
              </tr>
              <tr>
                <th rowspan="2">Tomdi shahri
                </th>
                <td><a class="td-items" href="treeList.html">“Yangi-Tomdi” qo‘rg‘oni
                </a> </td>
                <td>5</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Tomdibuloq” OFY Navro‘z ko‘chasi
                </a> </td>
                <td>1.5</td>
              </tr>
              <tr>
                <th rowspan="1">Navoiy shahri
                </th>
                <td><a class="td-items" href="treeList.html">“Muruvvat” MFY
                </a> </td>
                <td>1</td>
              </tr>
              <tr>
                <th rowspan="2">Navbahor tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Keskanterak” MFY
                </a> </td>
                <td>1.5</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Navkar” MFY
                </a> </td>
                <td>0.5</td>
              </tr>
              <tr>


              <tr>
                <th rowspan="1">Karmana tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Farhod” MFY
                </a> </td>
                <td>0.7</td>
              </tr>
              <th rowspan="2">Zarafshon shahri
            </th>
            <td><a class="td-items" href="treeList.html">“Geolog” MFY
            </a> </td>
            <td>4.6</td>
          </tr>
          <tr>
            <td><a class="td-items" href="treeList.html">“Konchilar” MFY
            </a> </td>
            <td>3.5</td>
          </tr>
          <tr>


              <tr>
                <th rowspan="1">G‘azg‘on shahri
                </th>
                <td><a class="td-items" href="treeList.html">“Marmarobod” MFY 
                </a> </td>
                <td>6.5</td>
              </tr>
    
              <tr>
                <th rowspan="1">Nurota tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Istiqbol” MFY
                </a> </td>
                <td>4</td>
              </tr> 
              
            
              <tr>
                <th rowspan="1">Konimex tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Sho‘rtepa” MFY
                </a> </td>
                <td>1</td>
              </tr>
             


              

             
          
                 
        </table>
                    
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>