<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td{
          margin-left: 40%;
      }
      th{
          text-align: center;
      }.td-items {
          text-decoration: none;
          color: white;
        }
      </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <table class="table table-hover  table-dark" style="width:90%">
        <thead>
          <tr>
            <th scope="col">Qoraqalpoq tumanlari</th>
            <th scope="col">Maydoni mavjud joylar</th>
            <th scope="col">Bo'sh maydoni(gektarlarda)</th>
          </tr>
        </thead>
            <tr>
                <th rowspan="2">Amudaryo tumani</th>
                <td><a class="td-items" href="treeList.html">Olmazor</a> </td>
                <td> 4</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Durunki” MFY  </a> </td>
                <td> 2.4    </td>
              </tr>
              <tr>
                <th rowspan="2">Beruniy tumani  </th>
                <td><a class="td-items" href="treeList.html">“Qiyat” MFY
                </a> </td>
                <td> 17</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Amir Temur” MFY
                </a> </td>
                <td>1.8</td>
              </tr>


              <tr>
                <th rowspan="2">Bo‘zatov tumani

                </th>
                <td><a class="td-items" href="treeList.html">“Qusxanatov” OFY Uyg‘irkul ovuli
                </a> </td>
                <td>2</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">Bo‘zatov shaharchasi Amir Temur ko‘chasi
                </a> </td>
                <td>2</td>
              </tr>


              <tr>
                <th rowspan="2">Kegeyli tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Ishan qala” OFY
                </a> </td>
                <td>2</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Jana bazar” OFY
                </a> </td>
                <td>2</td>
              </tr>
              <tr>
                <th rowspan="1">Qonliko‘l tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Madaniyat” MFY
                </a> </td>
                <td>7</td>
              </tr> 
              
            
              <tr>
                <th rowspan="2">Qorao‘zak tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Qutli makan” MFY
                </a> </td>
                <td>5</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Berdaq” OFY
                </a> </td>
                <td>5</td>
              </tr>

              <tr>
                <th rowspan="2">Qo‘ng‘irot tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Turkiston” MFY
                </a> </td>
                <td>1.8</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Oltinkul” MFY
                </a> </td>
                <td>1</td>
              </tr>

              <tr>
                <th rowspan="2">Mo‘ynoq tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Do‘stlik” MFY
                </a> </td>
                <td>10</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Qizil” MFY Aliy ovul
                </a> </td>
                <td>1</td>
              </tr>

              <tr>
                <th rowspan="1">Nukus tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Tele oray” MFY
                </a> </td>
                <td>8</td>
              </tr>
             
              <tr>
                <th rowspan="2">Taxiatosh tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Markaziy” MFY “Ajiniyaz bolalar dam olish” bog‘i
                </a> </td>
                <td>NAN</td>
            
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">Mustaqillik ko‘chasi
                </a> </td>
                <td>NAN</td>
              </tr>
              <tr>
                <th rowspan="2">Taxtako‘pir tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Qaraoy” OFY
                </a> </td>
                <td>1.5</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“G‘arezsizlik” MFY
                </a> </td>
                <td>1</td>
              </tr>
              <tr>
                <th rowspan="2">To‘rtko‘l tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Kaltaminor” OFY
                </a> </td>
                <td>3</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Yonboshqal’a” OFY
                </a> </td>
                <td>2</td>
              </tr>
              <tr>
                <th rowspan="1">Xo‘jayli tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Jana jap” OFY
                </a> </td>
                <td>5</td>
              </tr>
             
                <th rowspan="2">Chimboy tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Shaxtemir” MFY
                </a> </td>
                <td>1</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Doslik” MFY
                </a> </td>
                <td>1</td>
              </tr>
              <tr>
                <th rowspan="2">Shumanay tumani
                </th>
                <td><a class="td-items" href="treeList.html">“Madeniyat” MFY I. Karimov ko‘chasi
                </a> </td>
                <td>1.1</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">“Monshaqli” MFY Xalklar doslig‘i ko‘chasi
                </a> </td>
                <td>3.5</td>
              </tr>
              <th rowspan="1">Ellikqal’a tumani
            </th>
            <td><a class="td-items" href="treeList.html">Bo‘ston shahri
            </a> </td>
            <td>10</td>
          </tr>

             
          
                 
        </table>
                    
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>