<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td{
          margin-left: 40%;
      }
      th{
          text-align: center;
      }.td-items {
          text-decoration: none;
          color: white;
        }
      </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <table class="table table-hover  table-dark" style="width:90%">
        <thead>
          <tr>
            <th scope="col">Xorazm Tumanlari</th>
            <th scope="col">Maydoni mavjud joylar</th>
            <th scope="col">Bo'sh maydoni(gektarlarda)</th>
          </tr>
        </thead>
            <tr>
                <th rowspan="1">Bulung'or Tumani</th>
                <td><a class="td-items" href="treeList.html">"Olmazor"</a> </td>
                <td>2</td>
              </tr>
              <tr>
                <th rowspan="2">Jumboy Tumani</th>
                <td><a class="td-items" href="treeList.html">"Eski Jumboy" MFY</a> </td>
                <td>2</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">"Naymantepa" MFY</a> </td>
                    <td>0,25</td>
                </tr>
              </tr>
              <tr>
                <th rowspan="2">Ishtixon Tumani</th>
                <td><a class="td-items" href="treeList.html">"Ishtixon kochasi"</a> </td>
                <td>2.5</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">"Sheyxlar" MFY</a> </td>
                    <td>2.5</td>
                </tr>
              </tr>
              <tr>
                <th rowspan="2">Katta Qorg'on Tumani</th>
                <td><a class="td-items" href="treeList.html">"M. Ulugbek" MFY</a> </td>
                <td>0.7</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">"Dostlik" MFY</a> </td>
                    <td>0.5</td>
                </tr>
              </tr>
              <tr>
                <th rowspan="2">Narpay  Tumani</th>
                <td><a class="td-items" href="treeList.html">"Salovat" MFY</a> </td>
                <td>1</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">"Xaqiqiat" MFY</a> </td>
                    <td>0.6</td>
                </tr>
              </tr>
              <tr>
                <th rowspan="2">Nurobod Tumani</th>
                <td><a class="td-items" href="treeList.html">"Sharq Yuldizi" MFY</a> </td>
                <td>1.8</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">"Mash'al" MFY</a> </td>
                    <td>2.5</td>
                </tr>
              </tr>
              <tr>
                <th rowspan="1">Oqdaryo Tumani</th>
                <td><a class="td-items" href="treeList.html">"Mustaqillik" MFY</a> </td>
                <td>0.5</td>
              </tr>
              <tr>
                <th rowspan="1">Paxtachi Tumani</th>
                <td><a class="td-items" href="treeList.html">"Istiqlol" MFY</a> </td>
                <td>2.5</td>
              </tr>
              <tr>
                <th rowspan="1">Payariq Tumani</th>
                <td><a class="td-items" href="treeList.html">"Joja Ismoil" MFY</a> </td>
                <td>2</td>
              </tr>
              <tr>
                <th rowspan="1">Qo'shrabot Tumani</th>
                <td><a class="td-items" href="treeList.html">"Zarmitan" MFY</a> </td>
                <td>1</td>
              </tr>
              <tr>
                <th rowspan="2">Samarqand Shaxri</th>
                <td><a class="td-items" href="treeList.html">"Lolazor" kochasi</a> </td>
                <td>6</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">"Qorasuv"maskani</a> </td>
                    <td>3.8</td>
                </tr>
              </tr>
              <tr>
                <th rowspan="2">Katta Qo'rg'on Shaxri</th>
                <td><a class="td-items" href="treeList.html">"Amur Temur"MFY</a> </td>
                <td>0.5</td>
                <tr>
                    <td><a class="td-items" href="treeList.html">Ingichka Madaniyat saroyi oldi</a> </td>
                    <td>0.7</td>
                </tr>
              </tr>
        </table>
                    
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>