<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      td{
          margin-left: 40%;
      }
      th{
          text-align: center;
      }.td-items {
          text-decoration: none;
          color: white;
        }
      </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <table class="table table-hover  table-dark" style="width:90%">
        <thead>
          <tr>
            <th scope="col">Xorazm Tumanlari</th>
            <th scope="col">Maydoni mavjud joylar</th>
            <th scope="col">Bo'sh maydoni(gektarlarda)</th>
          </tr>
        </thead>
            <tr>
                <th rowspan="2">Urganch shahri</th>
                <td><a class="td-items" href="treeList.html">Namangan va Al-Xorazmiy ko'chalari</a> </td>
                <td> 9.8</td>
              </tr>
              <tr>
                <td><a class="td-items" href="treeList.html">Al-Xorazmiy ko'chasi</a> </td>
                <td> 42.25</td>
              </tr>
                <tr>
                    <th rowspan="2">Xiva shahri</th>
                    <td><a class="td-items" href="treeList.html">Buyuk yo'l ko'chasi</a> </td>
                    <td> 2</td>
                  </tr>
                  <tr>
                    <td><a class="td-items" href="treeList.html">Mustaqillik ko'chasi</a> </td>
                    <td> 1.2</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Bog'ot tumani</th>
                    <td><a class="td-items" href="treeList.html">"Abu Rayxon Beruniy" MFY</a> </td>
                    <td> 0.8</td>
                  </tr>
                  <tr>
                    <td><a class="td-items" href="treeList.html">"Oqtepa" MFY Feruza ko'chasi</a> </td>
                    <td> 0.4</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Gurlan tumani</th>
                    <td><a class="td-items" href="treeList.html">"Navbahor" MFY Mustaqillik ko'chasi</a></td>
                    <td> 1.5</td>
                  </tr>
                  <tr>
                    <td><a class="td-items" href="treeList.html">"Navbahor" MFY Mang'it ko'chasi</a> </td>
                    <td> 0.4</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Qo'shko'pir tumani</th>
                    <td>M.Raximov massivi</td>
                    <td> 5</td>
                  </tr>
                  <tr>
                    <td>Toshkent massivi</td>
                    <td> 6</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Tuproqqal'a tumani</th>
                    <td>Pitnak shahri Muhabbat MFY</td>
                    <td> 1.8</td>
                  </tr>
                  <tr>
                    <td>Pitnak shahri Navbahor MFY</td>
                    <td> 2</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Urganch tumani</th>
                    <td>"Shodlik" MFY</td>
                    <td> 4</td>
                  </tr>
                  <tr>
                    <td> "Uchko'prik" MFY</td>
                    <td> 5</td>
                  </tr>
                  <th rowspan="1">Hazorasp tumani</th>
                    <td>Sanoat qishlog'i "Sanoat" MFY</td>
                    <td> 10</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Xonqa tumani</th>
                    <td>"Mangulik" MFY</td>
                    <td> 4.2</td>
                  </tr>
                  <tr>
                    <td> "Obod" MFY</td>
                    <td> 7</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Xiva tumani</th>
                    <td> M.Raximov massivi</td>
                    <td> 5</td>
                  </tr>
                  <tr>
                    <td> Toshkent massivi</td>
                    <td> 6</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Shovot tumani</th>
                    <td> "Royat" MFY </td>
                    <td> 2</td>
                  </tr>
                  <tr>
                    <td> "Qirg'oq bo'yi" MFY</td>
                    <td> 1.5</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Yangiariq tumani</th>
                    <td> "Yangiobod" MFY </td>
                    <td> 9</td>
                  </tr>
                  <tr>
                    <td> "Yangiariq" MFY</td>
                    <td> 1.5</td>
                  </tr>
                  <tr>
                    <th rowspan="2">Yangibozor tumani</th>
                    <td> "Ocha-qala" MFY </td>
                    <td> 8.3</td>
                  </tr>
                  <tr>
                    <td> "Shoirlar" MFY</td>
                    <td> 8.2</td>
                  </tr>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>