<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="images/favicon.png">
      <title>ECO HTML</title>
      <!-- CSS FILES START -->
      <link href="css/custom.css" rel="stylesheet">
      <link href="css/color.css" rel="stylesheet">
      <link href="css/responsive.css" rel="stylesheet">
      <link href="css/owl.carousel.min.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/prettyPhoto.css" rel="stylesheet">
      <link href="css/all.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <style>
         .worker-page{
             background-image: url(./images/rasm/back-img.jpg);
             /* background-repeat: no-repeat; */
             background-size: auto;


         }.worker-image{
             border-radius: 100px;
             margin-left: 42.5%;
             width: 170px;
         }
         .text-div {
             text-align: center;
         }
         .tree-card-header__text{
             color:white;
             font-size: 15px;
             font-weight: 400;
         }
         .tree-card-header__text i {
           font-size: 24px;
           margin: 15px;
         }
         .tree-card-header__text {
            font-size: 20px;
         }
         .tree-info {
             text-align: left;
             font-size: 14px;
         }
         .comment-text {
            text-align: left;
            font-size: 16px;
         }
         .worker-logo {
             width: 30px;
             height: 30px;
         }
         .chegara {
             border: 2px solid black;
             width: 18rem;
         }
         .card-img-top {
            height: 250px;
            width: 270px;
            padding: 4px;
         }
         .tree-card-header__buttton {
            margin-left: 40px; 
            font-size: 17px;
         }
     </style>
      <!-- CSS FILES End -->
   </head>
   <body>
      <div class="wrapper">
         <!--Header Start-->
         <header class="header-style-2">
            <nav class="navbar navbar-expand-lg">
               <a class="navbar-brand" href="index.html"><img src="images/h2logo.png" alt=""></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="index.html"   aria-haspopup="true" aria-expanded="false"> Home </a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="lists.html" aria-haspopup="true" aria-expanded="false">Biz haqimizda</a> </li>
                  <li class="nav-item">
                     <a class="nav-link" href="events-grid.html"> Tadbirlar </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="causes.html"> Homiylik Loyihalari </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="treeList.html"> Daraxtlar  </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="donation.html"> Xayriya </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="my-account.html"> Shaxsiy hisob </a>
                  </li>
               </ul>
  
                  <ul class="topnav-right">
                     <li> <a class="mdonate" href="donation.html"><span>Hayriya qilish</span></a> </li>
                     <li> <a class="search-icon" href="#search"> <i class="fas fa-search"></i> </a> </li>
                     <li class="dropdown">
                        <a class="cart-icon" href="#" role="button" id="cartdropdown" data-toggle="dropdown"> <i class="fas fa-shopping-cart"></i></a>
                        <div class="dropdown-menu cart-box" aria-labelledby="cartdropdown">
                           Tanlangan Daraxtlar
                           <ul class="list">
                              <li class="item">
                                 <a href="#" class="preview-image"><img class="preview" src="images/tree/1.1.jpg" alt=""></a>
                                 <div class="description"> <a href="#">Yapon saforasi</a> <strong class="price">1 x 90.000</strong> </div>
                              </li>
                              <li class="item">
                                 <a href="#" class="preview-image"><img class="preview" src="images/tree/2.2.jpg" alt=""></a>
                                 <div class="description"> <a href="#">Kanada arg'uvoni</a> <strong class="price">1 x 95.000</strong> </div>
                              </li>
                           </ul>
                           <div class="total">Umumiy: <strong>185.000</strong></div>
                           <div class="view-link"><a href="#">Sotib olish</a> <a href="#">Savatni ko'rish </a></div>
                        </div>
                     </li>
                     <li class="login-reg"> <a href="my-account.html">Kirish</a> | <a href="my-account.html">Ro'yxatgan o'tish</a> </li>
                  </ul>
               </div>
            </nav>
         </header>
         <div id="search">
            <button type="button" class="close">×</button>
            <form class="search-overlay-form">
               <input type="search" value="" placeholder="type keyword(s) here" />
               <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
         </div>

         <div class="worker-page">
            <img class="worker-image" src="./images/artel.jpg" alt="">
            <div class="text-div">
               <h5 class="text6">O'rmon</h5>
               <h2 class="text6"> Nasriddinov Musojon</h2>  
               <p class="text6">Hayotingizni yaxshilang, dunyoni yaxshilang.</p>   
            </div> 
        
            <div class="text-center">
               <span class="tree-card-header__text"><i  class="fa-solid fa-tree"> </i> 128</span> 
               <span class="tree-card-header__text"><i class="fa-solid fa-cloud"></i> 8.06 t CO2</span> 
               <span class="tree-card-header__text"> <i class="fa-solid fa-location-dot"></i> Farg'ona viloyati </span>
               <span class="tree-card-header__text"><i class="fa-solid fa-building-columns"></i> Kompaniya</span> 
               <span class="tree-card-header__text"><i class="fa-solid fa-link"></i> Veb-saytga tashrif buyuring</span> 
               <button class="btn btn-primary tree-card-header__buttton" type="button" class="btn btn-primary"> Ulashish</button>
            </div>
         </div>
         <!--Header End-->
         <div class="container text-center">
            <div class="row">
                  <div class="col-3 ">
                     <a href="daraxtpage.html">
                  <div class="card chegara mt-5">
                     <div class="row">
                        <div class="col-4">
                           <p><i class="fa-solid fa-tree"></i> 2 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-regular fa-heart"></i> 1 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-solid fa-share-nodes"></i> 2 </p>
                        </div>
                        </div>
                     <img src="./images/rasm/1-tree.jpg"  class="card-img-top" alt="">
                     <div class="card-body">
                        <p class="tree-info">We're on a mission to reforest our Home Planet. Together we can combat deforestation and make the World greener!</p> <hr>
                        <p> 1 komment <span style="margin-left: 50px;">18 Jul 2023</span> </p>
                        <p class="comment-text"> <i class="fa-regular fa-user"></i> Olimjon - 7 kun oldin qo'ydi. Baraka toping shunday homiyliklar uchun 😘 🤩</p> 
                           <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1">😊</span>
                              <input type="text" class="form-control" placeholder=" Xabar yozish" aria-label="Username" aria-describedby="basic-addon1">
                              <button type="button" class="btn btn-success button1"><i class="fa-solid fa-paper-plane"></i></button>
                           </div>
                           <hr>  
                        <div class="text-center">
                           <p><i class="fa-regular fa-user"></i> Onam uchun ekilgan </p>  
                        </div>
                     </div>       
                  </div>
               </a>
               </div>
           
               <div class="col-3 ">
                  <div class="card chegara mt-5">
                     <div class="row">
                        <div class="col-4">
                           <p><i class="fa-solid fa-tree"></i> 2 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-regular fa-heart"></i> 1 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-solid fa-share-nodes"></i> 2 </p>
                        </div>
                        </div>
                     <img src="./images/rasm/1-tree.jpg"  class="card-img-top" alt="">
                     <div class="card-body">
                        <p class="tree-info">We're on a mission to reforest our Home Planet. Together we can combat deforestation and make the World greener!</p> <hr>
                        <p> 1 komment <span style="margin-left: 50px;">18 Jul 2023</span> </p>
                        <p class="comment-text"> <i class="fa-regular fa-user"></i> Olimjon - 7 kun oldin qo'ydi. Baraka toping shunday homiyliklar uchun 😘 🤩</p> 
                           <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1">😊</span>
                              <input type="text" class="form-control" placeholder=" Xabar yozish" aria-label="Username" aria-describedby="basic-addon1">
                              <button type="button" class="btn btn-success button1"><i class="fa-solid fa-paper-plane"></i></button>
                           </div>
                           <hr>  
                        <div class="text-center">
                           <p><i class="fa-regular fa-user"></i> Onam uchun ekilgan </p>  
                        </div>
                     </div>       
                  </div>
               </div>
               <div class="col-3 ">
                  <div class="card chegara mt-5">
                     <div class="row">
                        <div class="col-4">
                           <p><i class="fa-solid fa-tree"></i> 2 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-regular fa-heart"></i> 1 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-solid fa-share-nodes"></i> 2 </p>
                        </div>
                        </div>
                     <img src="./images/rasm/1-tree.jpg"  class="card-img-top" alt="">
                     <div class="card-body">
                        <p class="tree-info">We're on a mission to reforest our Home Planet. Together we can combat deforestation and make the World greener!</p> <hr>
                        <p> 1 komment <span style="margin-left: 50px;">18 Jul 2023</span> </p>
                        <p class="comment-text"> <i class="fa-regular fa-user"></i> Olimjon - 7 kun oldin qo'ydi. Baraka toping shunday homiyliklar uchun 😘 🤩</p> 
                           <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1">😊</span>
                              <input type="text" class="form-control" placeholder=" Xabar yozish" aria-label="Username" aria-describedby="basic-addon1">
                              <button type="button" class="btn btn-success button1"><i class="fa-solid fa-paper-plane"></i></button>
                           </div>
                           <hr>  
                        <div class="text-center">
                           <p><i class="fa-regular fa-user"></i> Onam uchun ekilgan </p>  
                        </div>
                     </div>       
                  </div>
               </div>
               <div class="col-3 ">
                  <div class="card chegara mt-5">
                     <div class="row">
                        <div class="col-4">
                           <p><i class="fa-solid fa-tree"></i> 2 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-regular fa-heart"></i> 1 </p>
                        </div>
                        <div class="col-4">
                           <p><i class="fa-solid fa-share-nodes"></i> 2 </p>
                        </div>
                        </div>
                     <img src="./images/rasm/1-tree.jpg"  class="card-img-top" alt="">
                     <div class="card-body">
                        <p class="tree-info">We're on a mission to reforest our Home Planet. Together we can combat deforestation and make the World greener!</p> <hr>
                        <p> 1 komment <span style="margin-left: 50px;">18 Jul 2023</span> </p>
                        <p class="comment-text"> <i class="fa-regular fa-user"></i> Olimjon - 7 kun oldin qo'ydi. Baraka toping shunday homiyliklar uchun 😘 🤩</p> 
                           <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1">😊</span>
                              <input type="text" class="form-control" placeholder=" Xabar yozish" aria-label="Username" aria-describedby="basic-addon1">
                              <button type="button" class="btn btn-success button1"><i class="fa-solid fa-paper-plane"></i></button>
                           </div>
                           <hr>  
                        <div class="text-center">
                           <p><i class="fa-regular fa-user"></i> Onam uchun ekilgan </p>  
                        </div>
                     </div>       
                  </div>
               </div>
            </div>
            </div>
         </div>
         </div>
      </div>
      <!--   JS Files Start  --> 
      <script src="js/jquery-3.3.1.min.js"></script> 
      <script src="js/jquery-migrate-1.4.1.min.js"></script> 
      <script src="js/popper.min.js"></script> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/owl.carousel.min.js"></script> 
      <script src="js/jquery.prettyPhoto.js"></script> 
      <script src="js/isotope.min.js"></script> 
      <script src="js/custom.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   </body>
</html>