{% extends 'base.html'%}
{% load static %}
   {% block content %}
 <section class="faq-tutorial container mt-5">
  <h1>Ko'p so'raladigan savollar</h1>
  <div class="accordion accordion-flush" id="accordionFlushExample">
     <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
           Men qanday qilib daraxtimni sug'oraman
           </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <b>SUG'ORLASH KOSA VA SUG'ORLASH</b> <br>
           <b> Sug'orish uchun idishga ega bo'lish juda muhim, chunki faqat bu holda siz yangi ekilgan daraxt yaxshi o'sishiga ishonch hosil qilishingiz mumkin. </b>
           <img src="{% static 'images/faq/01.png' %}" alt="">
        </div>
     </div>
     </div>
     <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
           Daraxtimni qanchalik chuqur ekishim kerak?
           </button>
           
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <img src="{% static 'images/faq/02.png' %}" alt="">
        </div>
     </div>
     <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
           O'simlik sumkasini qanday ochish kerak
           </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
        <img src="{% static 'images/faq/03.png' %}" alt="">
        </div>
        </div>
     </div>
     <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              O'simlik sumkasini qanday ochish kerak
           </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <img src="{% static 'images/faq/03.png' %}" alt="">
           </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
           Qanday qilib men daraxt chuqurini tayyorlayman?
           </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <img src="{% static 'images/faq/04.png' %}" alt="">
           </div>
        </div>
        </div>
        
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
           Qanday qilib daraxtni mahkamlash va ularning qulashini oldini olish mumkin? 1-qism
           </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <img src="{% static 'images/faq/05.png' %}" alt="">
           </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
           Qanday qilib daraxtni mahkamlash va ularning qulashini oldini olish mumkin? 2-qism
           </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <img src="{% static 'images/faq/06.png' %}" alt="">
           </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
           Daraxtimni qanday kesishim mumkin? 1-qism
           </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <img src="{% static 'images/faq/07.png' %}" alt="">
           </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
           Daraxtimni qanday kesishim mumkin? 2-qism
           </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body">
           <img src="{% static 'images/faq/08.png' %}" alt="">
           </div>
        </div>
        </div>
     </div>
</section>
{% endblock content%}