<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="images/favicon.png">
      <title>ECO HTML</title>
      <!-- CSS FILES START -->
      <link href="css/custom.css" rel="stylesheet">
      <link href="css/color.css" rel="stylesheet">
      <link href="css/responsive.css" rel="stylesheet">
      <link href="css/owl.carousel.min.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/prettyPhoto.css" rel="stylesheet">
      <link href="css/all.min.css" rel="stylesheet">
      <!-- CSS FILES End -->
   </head>
   <body>
      <div class="wrapper">
         <!--Header Start-->
         <header class="header-style-2">
            <nav class="navbar navbar-expand-lg">
               <a class="navbar-brand" href="index.html"><img src="images/h2logo.png" alt=""></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="index.html"   aria-haspopup="true" aria-expanded="false"> Home </a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="lists.html" aria-haspopup="true" aria-expanded="false">Biz haqimizda</a> </li>
                  <li class="nav-item">
                     <a class="nav-link" href="events-grid.html"> Tadbirlar </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="causes.html"> Homiylik Loyihalari </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="treeList.html"> Daraxtlar  </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="donation.html"> Xayriya </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="my-account.html"> Shaxsiy hisob </a>
                  </li>
               </ul>
  
                  <ul class="topnav-right">
                     <li> <a class="mdonate" href="donation.html"><span>Hayriya qilish</span></a> </li>
                     <li> <a class="search-icon" href="#search"> <i class="fas fa-search"></i> </a> </li>
                     <li class="dropdown">
                        <a class="cart-icon" href="#" role="button" id="cartdropdown" data-toggle="dropdown"> <i class="fas fa-shopping-cart"></i></a>
                        <div class="dropdown-menu cart-box" aria-labelledby="cartdropdown">
                           Tanlangan Daraxtlar
                           <ul class="list">
                              <li class="item">
                                 <a href="#" class="preview-image"><img class="preview" src="images/tree/1.1.jpg" alt=""></a>
                                 <div class="description"> <a href="#">Yapon saforasi</a> <strong class="price">1 x 90.000</strong> </div>
                              </li>
                              <li class="item">
                                 <a href="#" class="preview-image"><img class="preview" src="images/tree/2.2.jpg" alt=""></a>
                                 <div class="description"> <a href="#">Kanada arg'uvoni</a> <strong class="price">1 x 95.000</strong> </div>
                              </li>
                           </ul>
                           <div class="total">Umumiy: <strong>185.000</strong></div>
                           <div class="view-link"><a href="#">Sotib olish</a> <a href="#">Savatni ko'rish </a></div>
                        </div>
                     </li>
                     <li class="login-reg"> <a href="my-account.html">Kirish</a> | <a href="my-account.html">Ro'yxatgan o'tish</a> </li>
                  </ul>
               </div>
            </nav>
         </header>
         <div id="search">
            <button type="button" class="close">×</button>
            <form class="search-overlay-form">
               <input type="search" value="" placeholder="type keyword(s) here" />
               <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
         </div>
         <!--Header End-->
         <!--Inner Header Start-->
         <section class="wf100 p100 inner-header-tosh">
            <div class="container">
               <h1>Mening Shaxsiy Hisobim</h1>
            </div>
         </section>
         <!--Inner Header End--> 
         <!--Causes Start-->
         <section class="wf100 p80">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8">
                     <div class="myaccount-form">
                        <h3>Akkountni ro'yxatdan o'tkazish</h3>
                        <form>
                           <ul class="row">
                              <li class="col-md-6">
                                 <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Ismingiz" required>
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Familiyangiz" required>
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Telefon raqam" required>
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <div class="input-group">
                                    <input type="text" class="form-control" placeholder="UserName">
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Parol">
                                 </div>
                              </li>
                              <li class="col-md-6">
                                 <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Parolni qayta kiritish. ">
                                 </div>
                              </li>
                              <li class="col-md-12">
                                 <div class="input-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">I agree to the Terms of <a href="#">Services & Privacy Plicy</a></label>
                                 </div>
                              </li>
                              <li class="col-md-12">
                                 <button class="register">Ro'yxatdan o'tish</button>
                              </li>
                           </ul>
                        </form>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="login-box">
                        <h3>Akkountga kirish</h3>
                        <form>
                           <div class="input-group">
                              <input type="text" class="form-control" placeholder="Username" required>
                           </div>
                           <div class="input-group">
                              <input type="password" class="form-control" placeholder="Parol" required>
                           </div>
                           <div class="input-group form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck2">
                              <label class="form-check-label" for="exampleCheck2">Meni eslab qol</label>
                              <a href="#" class="fp">Parolni unitdingizmi</a> 
                           </div>
                           <div class="input-group">
                              <button class="login-btn">Akkountga kirish</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Causes End--> 
         
      </div>
      <!--   JS Files Start  --> 
      <script src="js/jquery-3.3.1.min.js"></script> 
      <script src="js/jquery-migrate-1.4.1.min.js"></script> 
      <script src="js/popper.min.js"></script> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/owl.carousel.min.js"></script> 
      <script src="js/jquery.prettyPhoto.js"></script> 
      <script src="js/isotope.min.js"></script> 
      <script src="js/custom.js"></script>
   </body>
</html>