<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="images/favicon.png">
      <title>ECO HTML</title>
      <!-- CSS FILES START -->
      <link href="css/custom.css" rel="stylesheet">
      <link href="css/color.css" rel="stylesheet">
      <link href="css/responsive.css" rel="stylesheet">
      <link href="css/owl.carousel.min.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/prettyPhoto.css" rel="stylesheet">
      <link href="css/all.min.css" rel="stylesheet">
      <!-- CSS FILES End -->
   </head>
   <body>
      <div class="wrapper">
         <!--Header Start-->
         <header class="header-style-2">
            <nav class="navbar navbar-expand-lg">
               <a class="navbar-brand" href="index.html"><img src="images/h2logo.png" alt=""></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="index.html"   aria-haspopup="true" aria-expanded="false"> Home </a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="lists.html" aria-haspopup="true" aria-expanded="false">Biz haqimizda</a> </li>
                  <li class="nav-item">
                     <a class="nav-link" href="events-grid.html"> Tadbirlar </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="causes.html"> Homiylik Loyihalari </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="treeList.html"> Daraxtlar  </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="donation.html"> Xayriya </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="my-account.html"> Shaxsiy hisob </a>
                  </li>
               </ul>
  
                  <ul class="topnav-right">
                     <li> <a class="mdonate" href="donation.html"><span>Hayriya qilish</span></a> </li>
                     <li> <a class="search-icon" href="#search"> <i class="fas fa-search"></i> </a> </li>
                     <li class="dropdown">
                        <a class="cart-icon" href="#" role="button" id="cartdropdown" data-toggle="dropdown"> <i class="fas fa-shopping-cart"></i></a>
                        <div class="dropdown-menu cart-box" aria-labelledby="cartdropdown">
                           Tanlangan Daraxtlar
                           <ul class="list">
                              <li class="item">
                                 <a href="#" class="preview-image"><img class="preview" src="images/tree/1.1.jpg" alt=""></a>
                                 <div class="description"> <a href="#">Yapon saforasi</a> <strong class="price">1 x 90.000</strong> </div>
                              </li>
                              <li class="item">
                                 <a href="#" class="preview-image"><img class="preview" src="images/tree/2.2.jpg" alt=""></a>
                                 <div class="description"> <a href="#">Kanada arg'uvoni</a> <strong class="price">1 x 95.000</strong> </div>
                              </li>
                           </ul>
                           <div class="total">Umumiy: <strong>185.000</strong></div>
                           <div class="view-link"><a href="#">Sotib olish</a> <a href="#">Savatni ko'rish </a></div>
                        </div>
                     </li>
                     <li class="login-reg"> <a href="my-account.html">Kirish</a> | <a href="my-account.html">Ro'yxatgan o'tish</a> </li>
                  </ul>
               </div>
            </nav>
         </header>
         <div id="search">
            <button type="button" class="close">×</button>
            <form class="search-overlay-form">
               <input type="search" value="" placeholder="type keyword(s) here" />
               <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
         </div>
         
         <!--Header End-->
         <!--Inner Header Start-->
         <section class="wf100 p100 inner-header-tosh">
            <div class="container">
               <h1>Toshkent Viloyati uchun ekilishi mumkin bo'lgan daraxtlar ro'yxati</h1>
            </div>
         </section>
         <!--Inner Header End--> 
         <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">
                  <!--Pro Box Start-->

                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/9.3.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Katta bargli jo'ka </a></h6>
                           <p class="pro-price">25.000 so'm</p>
                        </div>
                     </div>
                  </div>

                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="shop-details.html">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/1.4.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="shop-details.html">Oddiy eman</a></h6>
                           <p class="pro-price"><del>13.000 so'm</del> 19.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/2.2.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Eman pyramidal</a></h6>
                           <p class="pro-price"><del>25.000 so'm</del> 29.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/3.2.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Kashtan bargli eman</a></h6>
                           <p class="pro-price">20.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/4.4.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Ot kashtan zarang</a></h6>
                           <p class="pro-price">15.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/5.2.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Yapon saforasi</a></h6>
                           <p class="pro-price">40.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/6.5.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Kanada arg`uvoni </a></h6>
                           <p class="pro-price">35.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/7.4.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Oq akatsiya</a></h6>
                           <p class="pro-price">25.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/8.2.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Ipak akatsiya</a></h6>
                           <p class="pro-price">25.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End-->
                  <!--Pro Box Start-->
                 
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/10.1.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Sharqiy chinor</a></h6>
                           <p class="pro-price">25.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/8.2.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Katta bargli jo'ka</a></h6>
                           <p class="pro-price">25.000 so'm</p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End--> 
                  <!--Pro Box Start-->
                  <div class="col-lg-3 col-sm-6">
                     <div class="product-box">
                        <div class="pro-thumb"> <a href="#">Batafsil</a> 
                           <img style="width: 100%; height: 380px;" src="images/tree/9.1.jpg" alt=""></div>
                        <div class="pro-txt">
                           <h6><a href="#">Katta bargli jo'ka</a></h6>
                           <p class="pro-price">25.000 so'm </p>
                        </div>
                     </div>
                  </div>
                  <!--Pro Box End-->
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="gt-pagination">
                        <nav>
                           <ul class="pagination">
                              <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Contact End--> 
      </div>
      <!--   JS Files Start  --> 
      <script src="js/jquery-3.3.1.min.js"></script> 
      <script src="js/jquery-migrate-1.4.1.min.js"></script> 
      <script src="js/popper.min.js"></script> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/owl.carousel.min.js"></script> 
      <script src="js/jquery.prettyPhoto.js"></script> 
      <script src="js/isotope.min.js"></script> 
      <script src="js/custom.js"></script>
   </body>
</html>