{% extends 'base.html' %}
{% load static %}
{% block content%}
         <!--Inner Header Start-->
 <section class="wf100 p100 inner-header-tosh" style="margin-bottom: 40px;">
    <div class="container">
       <h1 class="text-center">Toshkent shahri uchun ekilishi mumkin bo'lgan daraxtlar ro'yxati</h1>
    </div>
 </section>

 <div class="container">
    <div class="container text-center" style="margin-top: 20px;">
        <div class="row">
          <div class="col size">
            <img src="{% static 'images/2.png' %}" alt="">
            <button class="btn btn-success filter-button" data-filter="all">Hammasi</button>
          </div>
          <div class="col size">
            <img  src="{% static 'images/2.png' %}" alt="">
            <button class="btn btn-default filter-button" data-filter="yaproqli">Yaproq bargli daraxtlar</button>
          </div>

          <div class="col size">
            <!-- <a href="" class="filter-button" data-filter="manzarali"> -->
            <img  src="{% static 'images/3.png' %}" alt="">
            <button class="btn btn-default filter-button" data-filter="manzarali">Manzarali butalar</button>
          <!-- </a> -->
          </div>
          <div class="col size">
             <img  src="{% static 'images/4.png' %}" alt="">
             <button class="btn btn-default filter-button" data-filter="mevali">Mevali daraxtlar</button>
           </div>
           <div class="col size">
             <img  src="{% static 'images/5.png' %}" alt="">
             <button class="btn btn-default filter-button" data-filter="ninabargli">Manzarali ninabargli daraxtlari</button>
           </div>
        </div>
    </div>

 <!--Inner Header End-->
 <!--Contact Start-->

 <div class="container text-center">
    <div class="row">

     <div class="col-md-9">
       <section class="shop wf100 p80">
          <div class="container">
             <div class="row">
                 {% for tree in treesList%}
                 <hr>
                <div class="container text-center filter yaproqli">
                   <div class="row">
                     <div class="col-3">
                      <a href="{% url 'tree-detail' tree.pk %}" style="text-decoration: none;">
                       <img style="width: 250px;height: 270px;" src="{{tree.image.url}}" alt="">
                       </a>
                     </div>
                     <div class="col-6 yozuv">
                      <a href="shop-details.html" style="text-decoration: none;">
                       <h2 style="color: green;">{{tree.name}} </h2>
                      </a>
                       <p class="p-text"> <b>Lotincha nomi:</b> {{tree.nameLotin}}</p>
                       <p class="p-text"> <b> Balandligi/m:</b> {{tree.height}}</p>
                       <p class="p-text"><b> Kengligi/m:</b>  {{tree.wide}}</p>
                       <p class="p-text"><b> O'sishi:</b>{{tree.growing}}</p>
                       <p class="p-text"><b> Gullari:</b> {{tree.flowers}}</p>
                       <p class="p-text"><b> Mevasi:</b>  {{tree.fruits}}</p>
                     </div>
                     <div class="col-3 yozuv-1">
                       <h4 style="color: green;">{{tree.cost}} so'm </h4>
                       <div>
                           <a href="{% url 'tree-detail' tree.pk %}">
                               <button  style="height: 40px;" type="submit" class="btn btn-success mt-3"><i class="fa-solid fa-circle-info"></i> To'liq malumot </button>  </a>
                       </div>
                       <div style="margin-top: 10px;">
                           <button type="submit" class="btn btn-primary" style="width: 170px;height: 40px; border: 2px solid;border-radius: 5px;"><i class="fa-solid fa-cart-shopping"></i>  Savatga qo'shish</button>
                       </div>
                     </div>
                   </div>
                 </div>
                 {% endfor %}
<!--                 <hr>-->
<!--                 <div class="container text-center filter manzarali">-->
<!--                   <div class="row">-->
<!--                     <div class="col-3">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <img style="width: 250px;height: 270px;" src="{% static 'images/prettyPhoto/3.3.jpg' %}" alt="">-->
<!--                       </a>-->
<!--                     </div>-->
<!--                     <div class="col-6 yozuv">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                      <h2 style="color: green;">Kanada  arg`uvoni</h2> </a>-->
<!--                       <p class="p-text"> <b>Lotincha nomi:</b> Cercis canadensis</p>-->
<!--                       <p class="p-text"> <b>Balandligi/m:</b> 8-9</p>-->
<!--                       <p class="p-text"><b> Kengligi/m:</b>  1-2</p>-->
<!--                       <p class="p-text"><b> O'sishi:</b>: Katta bargli buta yoki kichik daraxt</p>-->
<!--                       <p class="p-text"><b> Gullari:</b> Qizg'ish rangda</p>-->
<!--                       <p class="p-text"><b> Mevasi:</b>  No'xatli meva</p>-->
<!--                     </div>-->
<!--                     <div class="col-3 yozuv-1">-->
<!--                      <h4 style="color: green;">85 ming so'm </h4>-->
<!--                      <div>-->
<!--                          <a href="shop-details.html">   <button  style="height: 40px;" type="submit" class="btn btn-success mt-3"><i class="fa-solid fa-circle-info"></i> To'liq malumot </button>  </a>-->
<!--                      </div>-->
<!--                      <div style="margin-top: 10px;">-->
<!--                          <button type="submit" class="btn btn-primary" style="width: 170px;height: 40px; border: 2px solid;border-radius: 5px;"><i class="fa-solid fa-cart-shopping"></i>  Savatga qo'shish</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                   </div>-->
<!--                 </div>-->
<!--                 <hr>-->
<!--                 <div class="container text-center filter manzarali yaproqli">-->
<!--                   <div class="row">-->
<!--                     <div class="col-3">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <img style="width: 250px;height: 270px;" src="{% static 'images/tree/4.1.jpg' %}" alt="">-->
<!--                       </a>-->
<!--                     </div>-->
<!--                     <div class="col-6 yozuv">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <h2 style="color: green;">Oq akatsiya</h2>-->
<!--                       </a>-->
<!--                       <p class="p-text"> <b>Lotincha nomi:</b> Robinia pseudoacacia</p>-->
<!--                       <p class="p-text"><b> Balandligi/m:</b> 12-30</p>-->
<!--                       <p class="p-text"><b> Kengligi/m:</b>  0.61-1.22</p>-->
<!--                       <p class="p-text"><b> O'sishi:</b>: Tik daraxt bo'lib to'g'ri tanasi</p>-->
<!--                       <p class="p-text"><b> Gullari:</b> Oq va kulrang gul</p>-->
<!--                       <p class="p-text"><b> Mevasi:</b> Dukkakli mevalar</p>-->
<!--                     </div>-->
<!--                     <div class="col-3 yozuv-1">-->
<!--                      <h4 style="color: green;">80 ming so'm </h4>-->
<!--                      <div>-->
<!--                          <a href="shop-details.html">   <button  style="height: 40px;" type="submit" class="btn btn-success mt-3"><i class="fa-solid fa-circle-info"></i> To'liq malumot </button>  </a>-->
<!--                      </div>-->
<!--                      <div style="margin-top: 10px;">-->
<!--                          <button type="submit" class="btn btn-primary" style="width: 170px;height: 40px; border: 2px solid;border-radius: 5px;"><i class="fa-solid fa-cart-shopping"></i>  Savatga qo'shish</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                   </div>-->
<!--                 </div>-->
<!--                 <hr>-->
<!--                 <div class="container text-center filter mevali">-->
<!--                   <div class="row">-->
<!--                     <div class="col-3">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <img style="width: 250px;height: 270px;" src="{% static 'images/tree/5.1.jpg' %}" alt="">-->
<!--                       </a>-->
<!--                     </div>-->
<!--                     <div class="col-6 yozuv">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <h2 style="color: green;">Ipak akatsiya</h2>-->
<!--                       </a>-->
<!--                       <p class="p-text"> <b>Lotincha nomi:</b> Albizia julibrissin</p>-->
<!--                       <p class="p-text"> <b>Balandligi/m:</b> 5-16</p>-->
<!--                       <p class="p-text"><b> Kengligi/m:</b>  1-1.5</p>-->
<!--                       <p class="p-text"><b> O'sishi:</b>: weak, divaricated, also multi-stemned</p>-->
<!--                       <p class="p-text"><b> Gullari:</b> Qizil oq rangli gul</p>-->
<!--                       <p class="p-text"><b> Mevasi:</b> Oq qizg'ish rangli meva</p>-->
<!--                     </div>-->
<!--                     <div class="col-3 yozuv-1">-->
<!--                      <h4 style="color: green;">95 ming so'm </h4>-->
<!--                      <div>-->
<!--                          <a href="shop-details.html">   <button  style="height: 40px;" type="submit" class="btn btn-success mt-3"><i class="fa-solid fa-circle-info"></i> To'liq malumot </button>  </a>-->
<!--                      </div>-->
<!--                      <div style="margin-top: 10px;">-->
<!--                          <button type="submit" class="btn btn-primary" style="width: 170px;height: 40px; border: 2px solid;border-radius: 5px;"><i class="fa-solid fa-cart-shopping"></i>  Savatga qo'shish</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                   </div>-->
<!--                 </div>-->
<!--                 <hr>-->
<!--                 <div class="container text-center filter ninabargli">-->
<!--                   <div class="row">-->
<!--                     <div class="col-3">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <img style="width: 250px;height: 270px;" src="{% static 'images/tree/7.1.jpg' %}" alt="">-->
<!--                       </a>-->
<!--                     </div>-->
<!--                     <div class="col-6 yozuv">-->
<!--                      <a href="shop-details.html" style="text-decoration: none;">-->
<!--                       <h2 style="color: green;">Mayda bargli joʼka</h2>-->
<!--                       </a>-->
<!--                       <p class="p-text"><b>Lotincha nomi:</b> Tilia cordata</p>-->
<!--                       <p class="p-text"><b> Balandligi/m:</b> 20-38</p>-->
<!--                       <p class="p-text"><b> Kengligi/m:</b>  2-3</p>-->
<!--                       <p class="p-text"><b> O'sishi:</b>: Tishli, cho'zilgan uchli bilan tik holatda</p>-->
<!--                       <p class="p-text"><b> Gullari:</b> Tilla rangli </p>-->
<!--                       <p class="p-text"><b> Mevasi:</b>  kichik shakilli meva</p>-->
<!--                     </div>-->
<!--                     <div class="col-3 yozuv-1">-->
<!--                      <h4 style="color: green;">120 ming so'm </h4>-->
<!--                      <div>-->
<!--                          <a href="shop-details.html">   <button  style="height: 40px;" type="submit" class="btn btn-success mt-3"><i class="fa-solid fa-circle-info"></i> To'liq malumot </button>  </a>-->
<!--                      </div>-->
<!--                      <div style="margin-top: 10px;">-->
<!--                          <button type="submit" class="btn btn-primary" style="width: 170px;height: 40px; border: 2px solid;border-radius: 5px;"><i class="fa-solid fa-cart-shopping"></i>  Savatga qo'shish</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                   </div>-->
<!--                 </div>-->
<!--                 <hr>-->
                </div>
             </div>
             <div class="row">
                <div class="col-md-12">
                   <div class="gt-pagination">
                      <nav>
                         <ul class="pagination">
                            <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                         </ul>
                      </nav>
                   </div>
                </div>
             </div>
        </section>
     </div>
    </div>
  </div>
{% endblock content %}